<h3>Create New Team</h3>
<div *ngIf="isValidFormSubmitted" class="submitted"> Form submitted successfully. </div>
<div class="team">
  <form [formGroup]="teamForm" (ngSubmit)="onFormSubmit()">
    <p>Team Name :
      <input formControlName="teamName">
      <br/>
      <label *ngIf="teamName.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
        Team name is required.
      </label>
    </p>
    <div class="all-emp">
      <b>Employees in Team:</b>
      <br>
      <label *ngIf="employees.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
        Add Employees.
      </label>
      <br>
      <div formArrayName="employees">
        <div *ngFor="let emp of employees.controls; let i = index" [formGroupName]="i" class="employee">
          <p>
            <b>Employee : {{i + 1}}</b>
          </p>
          <p>Name :
            <input formControlName="empName">
            <br/>
            <label *ngIf="employees.controls[i].get('empName').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                   class="error">
              Employee name required.
            </label>
          </p>
          <p>Age :
            <input formControlName="age">
            <br/>
            <label *ngIf="employees.controls[i].get('age').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                   class="error">
              Age required.
            </label>
            <label *ngIf="employees.controls[i].get('age').errors?.min && isValidFormSubmitted != null && !isValidFormSubmitted" class="error">
              Minimum age is 21.
            </label>
          </p>
          <p>Skill :
            <select formControlName="skill">
              <option *ngFor="let skill of allSkills | async" [ngValue]="skill.name">
                {{ skill.displayName }}
              </option>
            </select>
            <br/>
            <label *ngIf="employees.controls[i].get('skill').errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted"
                   class="error">
              Select skill.
            </label>
          </p>
          <p>
            <button type="button" (click)="deleteEmployee(i)">Delete</button>
          </p>
        </div>
      </div>
      <button type="button" (click)="addEmployee()">Add More Employee</button>
    </div>
    <br/>
    <button>SUBMIT</button>
    <button type="button" (click)="resetTeamForm()">RESET</button>
  </form>
</div>
